<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yaksok.dodream.com.yaksok_refactoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.kakao.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yaksok"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true">


        <activity android:name=".view.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.Login_activity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.kakao.sdk.ClientSecret"
            android:value="kakao client secret value" />

        <activity android:name=".view.Main.MainPage_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.MyPill.MyPill_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.signup.Signup_activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.addFamily.Register_Family"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.InsertPill.InsertPill_activity"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.InsertPill.SearchPill.SearchPill_activity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.InsertPill.Sel_AlarmRecive.Sel_AlarmRecive_activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.Alarm_On"
            android:launchMode="singleInstance"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".view.Settings.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Settings.Developer"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Settings.MyPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.Settings.ChangePW"
            android:screenOrientation="portrait"/>
        <activity android:name=".ApplicationBase" />





        <service
            android:name=".firebaseService.FirebaseMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebaseService.FirebaseGetInstanceID"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


    <service
        android:name=".firebaseService.FirebaseMessageService"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service
        android:name=".firebaseService.FirebaseGetInstanceID"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>

    <receiver
        android:name=".model.Main.NotificationUtil"
        android:enabled="true" />



        <activity android:name=".view.Settings.New_Settings"
            android:screenOrientation="portrait"/>


        

    <activity android:name=".view.signup.GetPn"
        android:screenOrientation="portrait"/>
    <activity android:name=".view.chat.Chatting_list"
        android:screenOrientation="portrait"/>
    <activity android:name=".view.chat.Chat_Room"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".view.Settings.MyPage"
        tools:ignore="DuplicateActivity"
        android:screenOrientation="portrait"/>

    <activity android:name=".view.InsertPill.Temp"
        android:screenOrientation="portrait"/>
    <activity android:name=".view.WetherChooseFamilyOrNot"
        android:screenOrientation="portrait">

    </activity>
    <activity android:name=".view.find_pw.FindUserPassword"
        android:screenOrientation="portrait"/>
        <activity android:name=".view.Find_Id.ID_find_layout"
            android:screenOrientation="portrait"/>





</application>



</manifest>